.comments {
  padding: 0 2rem;
  word-break: break-all;
  overflow-y: auto;
}

.single.comments {
  max-height: 30rem;
}

.single {
  padding: 0;
}

.comments li {
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

@media (max-width: 64rem) {
  .single.comments {
    max-height: auto;
  }
}

@media (max-width: 22rem) {
  .comments {
    padding: 0 1rem;
  }
}
